body {
  text-align: center;
  margin-top: 30px;
  font-family: "DFVN TAN-NIMBUS"; /* Updated font */
  background-color: #000000; /* Updated background color */
  color: #e3679f; /* Updated text color */
}

/* Retain existing styles */
#datequestion {
  font-size: 50px;
  margin-bottom: 30px;
}

/* Additional styles as needed */
.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 25px;
}

.button {
  padding: 6px 10px;
  font-size: 15px;
  cursor: pointer;
  margin: 10px;
  font-family: "courier";
  margin-bottom: 10px;
  background-color: #ffe3e1;
  color: #e67373;
  border-radius: 12px;
  border: 2px solid #ffe3e1;
  transition: 0.3s;
}

.button:hover {
  background-color: #ff9494;
  color: #ffe3e1;
  border: 2px solid #ff9494;
}

input[type="date"] {
  padding: 6px 10px;
  font-size: 15px;
  cursor: pointer;
  margin: 10px;
  font-family: "courier";
  margin-bottom: 10px;
  background-color: #ffe3e1;
  color: #e67373;
  border-radius: 12px;
  border: 2px solid #ffe3e1;
}
